{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Поиск данных о номере телефона</title>
	<link rel="stylesheet" href="/static/css/foundation.css">
	<link rel="stylesheet" href="/static/css/app.css?{% now "U" %}">
</head>
<body>
<div class="top-wrapper">
	<div class="row">
		<div class="large-offset-2 large-8 medium-12 columns">
			<h2 class="top-header centered">
				Найдите данные об операторе и регионе по номеру телефона
			</h2>
		</div>
		<div class="large-offset-2 large-8 medium-12 columns">
			<div class="row">
				<div class="large-9 medium-8 small-12 columns relative">
					<input type="text" class="search-input" placeholder="Введите номер телефона">
					<div class="search-input-prefix">+7</div>
				</div>
				<div class="large-3 medium-4 small-12 columns">
					<a class="search-button">Поиск</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-wrapper">
	<div class="row">
		<div class="large-offset-2 large-8 medium-12 columns search-result">
		</div>
	</div>
</div>
<div class="bottom-wrapper">
	<div class="row">
		<div class="large-offset-2 large-8 medium-12 columns">
			<h3>Использование через API</h3>
			<p>Вы можете использовать данный серви с помощью открытого API</p>
			<p>В примере ниже вы найдете пример запроса</p>
			<p>
				<b>URL</b>: "http://thishost.com/api/"<br>
				<b>METHOD</b>: POST<br>
				<b>phone</b>: "73457652332"<br>
			</p>
			<p>
				<em>Номер телефона не должен содержать пробелов или каких-либо других символов кроме цифр</em>
			</p>
		</div>
	</div>
</div>

<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/vendor/what-input.js"></script>
<script src="/static/js/vendor/foundation.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>
