.centered {
	text-align: center;
}

.relative {
	position: relative;
}

.top-header {
    padding: 2em 0;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000;
}

.top-wrapper {
  background: url('/static/img/top_header_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-bottom: 4em;
}

.search-input {
    padding: 0.5em 1em 0.5em 3em;
    font-size: 1em;
    height: 3em;
    width: 100%;
	margin: 0;
}

.search-input-prefix {
    position: absolute;
    font-size: 1em;
    top: 0.75em;
    left: 2.3em;
}

.search-button {
    padding: 0.5em 1em;
    font-size: 1em;
    height: 3em;
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 2em;
    color: #FFF;
    background: #2ba6cb;
    text-shadow: 1px 1px 2px #000;
	transition: ease-out 200ms;
}

.search-button:hover,
.search-button:active,
.search-button:focus {
	color: #ffffff;
    background: #2387a6;
}

.bottom-wrapper {
	background: #333;
	padding: 4em 0;
}

.bottom-wrapper h3,
.bottom-wrapper p{
	color: #ffffff;
}